<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "Gitanos con Suerte" }}</title>
</head>
<body style="margin:0;">
  {{ content | safe }}
</body>
</html>
